{% extends '../base.html' %}
{% load static %}
{% block title %}アンケート{% endblock %}

{% block contents %}
<h2>アンケート入力</h2>
<form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">送信</button>
</form>

<h2>過去のマッチング履歴</h2>
{% if matching_history %}
    <table>
        <thead>
            <tr>
                <th>日付</th>
                <th>ペットの名前</th>
                <th>タイプ</th>
                <th>サイズ</th>
                <th>性格</th>
                <th>色</th>
            </tr>
        </thead>
        <tbody>
            {% for history in matching_history %}
            <tr>
                <td>{{ history.date_created }}</td>
                <td>{{ history.survey_result.pet_type }}</td>
                <td>{{ history.survey_result.size }}</td>
                <td>{{ history.survey_result.personality }}</td>
                <td>{{ history.survey_result.color }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>過去のマッチング履歴はありません。</p>
{% endif %}
{% endblock %}
