{% extends 'base.html' %}
<!-- ヘッダー情報のページタイトルを設定する -->
{% load static %}
{% block title %}Login{% endblock %}

  {% block header %}
  <header class="masthead" style="background-image: url({% static 'assets/img/Image1.jpg' %}); display: flex; align-items: center; justify-content: center; height: 100vh;">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading" style="text-align: center;">
                    <h1 style="font-size: 60px; white-space: nowrap; ">ログイン</h1>
                </div>
            </div>
        </div>
    </div>
  </header>
  {% endblock %}


{% block contents %}

<style>
  .signin {
    text-align: center;
    padding-top: 40px
  }

  .accounts_signup {
    position: relative;
    left: 400px;
    margin: 40px;
  }

  .login_input_form {
    position: relative;
    left: 40px;
    padding: 40px;
  }

  

 </style>
<!doctype html>
<!-- 言語指定をenからjaに変更 -->
<html lang="ja">
    <meta charset="utf-8">
            <!-- ユーザー名とパスワードが一致しない場合のメッセージ -->
            {% if errors %}
              <p style="color: red">{{ error }}ユーザー名とパスワードが一致しません。</p>
            {% endif %}
            <!-- ログインのフォームを配置 -->
            <form method="post">
              {% csrf_token %}
              <!-- Bootstrapのロゴを表示 -->
              <!-- 「static/img/bootstrap-logo.svg」の読み込み -->
              <h1 class="signin" style="margin-bottom: 30px;margin-top: 30px; text-align: center;">ログイン情報を入力</h1>
              <p id = accounts_signup style="font-size: 14px; text-align: center;" >アカウントが未登録の方はこちら<a href="{% url 'accounts:signup' %}">アカウントを作成</a></p>
              <div style="text-align: center;" >
                <input type="text" id="username" style="margin: 20px;" 
                  
                  name="username" placeholder="ユーザー名"/>
              </div>
              <div style="text-align: center;">
                <input type="password" id="password_input"  style="margin-bottom: 30px; "  name="password" required minlength="8" placeholder="パスワード"/>
              </div>
                <!-- ログインボタン -->
              <div style="text-align: center; margin-bottom: 20px;
              border-radius: 1px; ">
              <input id = "login_buttom"
                    style="background-color: #3cb371
                    padding-top: 5px;
                    padding-bottom: 5px;
                    padding-left: 30px;
                    padding-right: 30px;" 

                    type="submit" 
                    value="ログイン">
              </div>
              <!-- パスワードリセットページのリンクテキスト -->
              <p style="text-align: center; margin-top:">
              <a href="{% url 'survey:index' %}" style="font-size:
               14px; ">トップページに戻る</a></p>
              
              <!-- ログイン直後のリダイレクト先(トップページ)のURLパターンを設定 -->
              <input type="hidden" 
                     value="{% url 'survey:index' %}">
            </form>  
</html>
{% endblock %}