{% extends 'base.html' %}
<!-- ヘッダー情報のページタイトルを設定する -->
{% load static %}
{% block title %}Login{% endblock %}

  {% block header %}
  <header class="masthead" style="background-image: url({% static 'assets/img/Image1.jpg' %}); display: flex; align-items: center; justify-content: center; height: 100vh;">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading" style="text-align: center;">
                    <h1 style="font-size: 60px; white-space: nowrap; ">ログイン</h1>
                </div>
            </div>
        </div>
    </div>
  </header>
  {% endblock %}
 <style>
  .signin {
    text-align: center;
    padding-top: 40px
  }

  .accounts_signup {
    position: relative;
    left: 400px;
    
    padding: 30px;
  }
  

 </style>

{% block contents %}
<!doctype html>
<!-- 言語指定をenからjaに変更 -->
<html lang="ja">
    <meta charset="utf-8">
            <!-- ユーザー名とパスワードが一致しない場合のメッセージ -->
            {% if errors %}
              <p style="color: red">{{ error }}ユーザー名とパスワードが一致しません。</p>
            {% endif %}
            <!-- ログインのフォームを配置 -->
            <form method="post">
              {% csrf_token %}
              <!-- Bootstrapのロゴを表示 -->
              <!-- 「static/img/bootstrap-logo.svg」の読み込み -->
              <h1 class="signin">Please sign in</h1>
              <p id = accounts_signup ><a href="{% url 'accounts:signup' %}">アカウントを作成</a></p>
              <input type="text" id="username" name="username" required size="10" placeholder="ユーザー名"/>
              <input type="password" id="password_input" name="password" required minlength="8" size="10" placeholder="パスワード"/>
              <!-- ログインボタン -->
              <input id = "login_buttom" 
                     type="submit" 
                     value="ログイン">
              
              <!-- パスワードリセットページのリンクテキスト -->
              <p class="mt-3"><a href="{% url 'survey:index' %}">パスワードを忘れましたか?</a></p>
              <!-- ログイン直後のリダイレクト先(トップページ)のURLパターンを設定 -->
              <input type="hidden" 
                     value="{% url 'survey:index' %}">
            </form>  
</html>
{% endblock %}