{% extends 'accounts/base_admin.html' %}

{% block title %}管理者専用ページ{% endblock %}

{% block contents %}
<p>管理者専用のページです。</p>

<style>
    .staff_button {
        font-size: 20px;
        background-color: rgb(255, 244, 228);
        color: rgb(61, 54, 255);
        margin: 30px;
        border-left: 3px solid #000;
        padding: 10px;
        font-family: sans-serif;
        text-decoration: none;
    }

    .staff_button:hover {
        background-color: rgb(235, 224, 208);
        color: rgb(126, 126, 255);
    }

    .button_menu {
        margin: 30px;
    }
</style>

{% if user.is_superuser %}
<p>あなたは管理者です。このページは管理者にしか使えません。</p>

<div class="button_menu">
    <a class="staff_button" href="{% url 'petapp:pet-list' %}">登録・更新・削除</a>
</div>

<div class="button_menu">
    <a class="staff_button" href="{% url 'accounts:staff_pet' %}">仮契約中のペット</a>
</div>

<div class="button_menu">
    <a class="staff_button" href="{% url 'accounts:completed_pets' %}">契約済みのペット</a>
</div>

{% else %}
<p>あなたは管理者ではありません。</p>
{% endif %}
{% endblock %}
