{% extends '../base.html' %}

{% block title %}登録一覧{% endblock %}

{% block contents %}
<h2>犬・猫 一覧</h2>
<ul>
    {% for pet in object_list %}
        <li>
            <h3>{{ pet }}</h3>
            {% with pet.images.first as first_image %}
                {% if first_image %}
                    {% if first_image.image %}
                        <img src="{{ first_image.image.url }}" alt="{{ pet.id }}の画像" style="max-width: 200px; height: auto;">
                    {% else %}
                        <p>画像が登録されていません</p>
                    {% endif %}
                {% else %}
                    <p>画像が登録されていません</p>
                {% endif %}
            {% endwith %}
            
            <!-- 更新と削除リンク -->
            <a href="{% url 'petapp:pet-update' pet.id %}">更新</a> |
            <a href="{% url 'petapp:pet-delete' pet.id %}">削除</a>
        </li>
    {% endfor %}
</ul>

<a href="{% url 'petapp:pet-create' %}">新しい 犬・猫 を登録</a>
{% endblock %}
