{% block title %}登録完了{% endblock %}

{% block content %}
<h2>ペットの登録が完了しました！</h2>

<p>種類 : {{ pet.get_type_display }}</p>
<p>大きさ : {{ pet.get_size_display }}</p>
<p>色 : {{ pet.color }}</p>
<p>歳 : {{ pet.age }}歳</p>
<p>犬種/猫種 : {{ pet.kinds }}</p>
{% if pet.disease %}
    <p>病歴 : {{ pet.disease }}</p>
{% endif %}

<p>性格 : {{ pet.personality }}</p>
<p>性別 : {{ pet.sex }}</p>
<p>電話番号 : {{ pet.phone_number }}</p>

<!-- 画像表示部分 -->
{% if pet_images %}
    <h3>ペットの画像</h3>
    {% for image in pet_images %}
        {% if image.image %}
            <img src="{{ image.image.url }}" alt="ペット画像" width="100">
        {% else %}
        {% endif %}
    {% endfor %}
{% else %}
    <p>画像は登録されていません。</p>
{% endif %}

<br></br>

<a href="{% url 'petapp:pet-list' %}">ペット一覧に戻る</a>
{% endblock %}
